extends layout

block content
    link(rel='stylesheet' href='/stylesheets/album.css')
    nav
        img#lupa_img_nav.lupa_nav(src='../images/home_page/lupa.png')
        input#input_search_nav.input_search_nav
        a(href='personajes')
            #personajes_nav.personajes_nav PERSONAJES
        a(href='album')
            #album_nav.album_nav ALBUMS
        a(href='mi_album')
            #mi_album_nav.mi_album_nav MI ALBUM
        a(href='cuenta')
            img#cuenta_nav.cuenta_nav(src='../images/home_page/account.png')
    main
        .logo
            a(href='/')
                img.logo_main(src='../images/home_page/logoMarvel.png')
        .pop_up
            //for each card in cards
            for album_card in cards
                .card.card_personal
                    img.imagenes(src= album_card.imagen_usuario)
                    h2 #{album_card.nombre_usuario}
                    img.imagenes(src=album_card.top_personajes[0])
                    img.imagenes(src=album_card.top_personajes[1])
                    img.imagenes(src=album_card.top_personajes[2])
                    img.imagenes(src=album_card.top_personajes[3])
        br
