extends layout

block content
    link(rel='stylesheet' href='/stylesheets/personaje_descripcion.css')
    nav
        img#lupa_img_nav.lupa_nav(src='../images/home_page/lupa.png')
        input#input_search_nav.input_search_nav
    main
        .container
            .row
                .col-md-6
                    a(href='/')
                        img.logo_main(src='../images/home_page/logoMarvel.png')
                    img#imagen_personaje_descrip.imagen_personaje_descrip(src=personajes_descripcion_page.imagen_personaje)
                    .like-container
                        img#imagen_like_descrip.imagen_like_descrip(src=personajes_descripcion_page.image)
                        h3#numero_likes_descrip.numero_likes_descrip #{personajes_descripcion_page.numero_likes}
                .col-md-6
                    .card
                        .card-body.neon
                            h5#titulo_descrip.card-title #{personajes_descripcion_page.name}
                            p#descripcion_descrip.card-text #{personajes_descripcion_page.description}
                br
